<div class="well">
  <p><b>User Name:</b> <%= user.user_name %></p>
  <p><b>Name & Surname:</b> <%= user.first_name.concat(" ").concat(user.last_name) %></p>
  <p><b>Email:</b> <%= user.email %></p>
</div>